name: Tests and Linting

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

jobs:
  Linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: nicknovitski/nix-develop@v1
        name: nix develop

      - name: Ruff
        run: |
          uv run --group lint ruff format
          uv run --group lint ruff check
          uv run --group lint mypy

  Test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
      - uses: nicknovitski/nix-develop@v1
        name: nix develop

      - name: Test with Pytest on Python
        run: uv run --python ${{ matrix.python-version }} --group test pytest
